.form-header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
    border-bottom: 0.5px solid rgb(218, 220, 224);
    padding: 20px;
    position: sticky;
    overflow: hidden;
}

.form-header-left,
.form-header-right {
    display: flex;
    align-items: center;
}

.form-header-right {
    list-style: none;
    gap: 15px;
    margin-right: 20px;
}


.publish-button {
    padding: 10px 24px;
    background-color: #673ab7;
    color: white;
    border-radius: .4em;
    border: none;
    cursor: pointer;
}

.publish-button:hover {
    background-color: #7047b5;
}

.clear-button {
    padding: 5px 10px;
    background-color: white;
    color: black;
    border-radius: .4em;
    border: 1px solid rgba(128, 128, 128, 0.395);
    cursor: pointer;
}

.clear-button:hover {
    background-color: #7047b5;
    color: white;
}


.form-headline {
    font-size: 18px;
    border: none;
    outline: none;
    max-width: 50%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
    padding: 5px;
    color: rgb(32, 33, 36);
}

.form-headline:focus {
    border-bottom: 2px solid #202124;
}

.form-icon {
    cursor: pointer;
    max-width: 50px;
    padding: 10px;
}