header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px 0px rgba(0,0,0,0.3);
    border-bottom: 0.5px solid rgb(218, 220, 224);;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
}

.header-right{
    gap: 15px;
    margin-right: 20px;
}

/* Buttons  */

.publish-button{
    padding: 10px 24px;
    /* margin-left: 10px; */
    background-color: #673ab7;
    color: white;
    border-radius: .4em;
    border: none;
    cursor: pointer;
}

.publish-button:hover{
    background-color: #7047b5;
}

#palette, #undo, #redo{
    /* background-color: #5f6368; */
    cursor: pointer;
    padding: 5px;
    color: #5f6368;
}

#palette:hover, #undo:hover, #redo:hover {
    border-radius: 50%;
    background-color: rgba(202, 202, 202, 0.267);
}

.clear-button{
    padding: 5px 10px;
    /* margin-left: 10px; */
    background-color: white;
    color: black;
    border-radius: .4em;
    border: 1px solid grey;
    cursor: pointer;
    /* outline: #5f6368; */
}

.clear-button:hover{
    background-color: #7047b5;
    color: white;
}


.form-headline{
    font-size: 18px;
}