@import url("header.css");
@import url("form.css");
@import url("question.css");

body{
    background-color: #f0ebf8;
    margin: 0;
    padding-top: 80px;
    font-family: Roboto;
}

@media only screen and (max-width: 768px) {
    .form-header, .questions-card{
        width: 80%;
    }
}