.custom-select {
    width: 225px;
}

.select-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.select-button .selected-option {
    font-family: roboto;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.select-button .selected-option .material-symbols-outlined {
    margin-right: 10px;
    color: #5f6368;
}